@font-face {
    font-family:"SenticoSansDT Light";
        src:url("Sentico/senticosansdt-light-webfont.eot");
        src:url("Sentico/senticosansdt-light-webfont?#iefix") format("eot"),
        url("Sentico/senticosansdt-light-webfont.woff") format("woff"),
        url("Sentico/senticosansdt-light-webfont.ttf") format("truetype"),
        url("Sentico/senticosansdt-light-webfont.svg") format("svg");
        font-weight:400;
        font-style:normal
}

@font-face {
    font-family:"SenticoSansDT Medium";
        src:url("Sentico/senticosansdt-medium-webfont.eot");
        src:url("Sentico/senticosansdt-medium-webfont?#iefix") format("eot"),
        url("Sentico/senticosansdt-medium-webfont.woff") format("woff"),
        url("Sentico/senticosansdt-medium-webfont.ttf") format("truetype"),
        url("Sentico/senticosansdt-medium-webfont.svg") format("svg");
        font-weight:400;
        font-style:normal
}

@font-face {
    font-family:"SenticoSansDT Regular";
        src:url("Sentico/senticosansdt-regular-webfont.eot");
        src:url("Sentico/senticosansdt-regular-webfont?#iefix") format("eot"),
        url("Sentico/senticosansdt-regular-webfont.woff") format("woff"),
        url("Sentico/senticosansdt-regular-webfont.ttf") format("truetype"),
        url("Sentico/senticosansdt-regular-webfont.svg") format("svg");
        font-weight:400;
        font-style:normal
}

@font-face {
    font-family:"SenticoSansDT Thin";
        src:url("Sentico/senticosansdt-thin-webfont.eot");
        src:url("Sentico/senticosansdt-thin-webfont?#iefix") format("eot"),
        url("Sentico/senticosansdt-thin-webfont.woff") format("woff"),
        url("Sentico/senticosansdt-thin-webfont.ttf") format("truetype"),
        url("Sentico/senticosansdt-thin-webfont.svg") format("svg");
        font-weight:400;
        font-style:normal
}