@using Microsoft.AspNetCore.Mvc.Razor;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aegon</title>  
      
    @Html.Partial("Partials/Layout/_styles") 
    @Html.Partial("Partials/Layout/_scripts")
</head>
<body>
    <div id="siteWrapper">
        @Html.Partial("Partials/Layout/_masthead") 
        <main id="main" class="gutter-set">
            @RenderBody()
            @Html.Partial("Partials/Layout/_siteFooter")
        </main>
    </div>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function(){
            $('.dataTables_length').hide();
            $('.dataTables_filter').hide();
        });
    </script>
</body>
</html>
