@{
    ViewData["Title"] = "Protection Dashboard";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <h2>@ViewData["Title"]</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#applications">Applications</a></li>
        <li><a data-toggle="tab" href="#policies">Policies</a></li>
        <li><a data-toggle="tab" href="#search">Search</a></li>
    </ul>
    <div class="tab-content">
        @Html.Partial("Partials/Dashboard/_ApplicationsTab")
        @Html.Partial("Partials/Dashboard/_PoliciesTab")
        @Html.Partial("Partials/Dashboard/_SearchTab")
    </div>
}