@font-face {
  font-family: '24-Simple-Line-Icons-Pro';
  src:  url('fonts/24-Simple-Line-Icons-Pro.eot');
  src:  url('fonts/24-Simple-Line-Icons-Pro.eot#iefix') format('embedded-opentype'),
    url('fonts/24-Simple-Line-Icons-Pro.ttf') format('truetype'),
    url('fonts/24-Simple-Line-Icons-Pro.woff') format('woff'),
    url('fonts/24-Simple-Line-Icons-Pro.svg#24-Simple-Line-Icons-Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: '24-Simple-Line-Icons-Pro' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1-circle-down:before {
  content: "\e800";
}
.icon-arrow-1-circle-left:before {
  content: "\e801";
}
.icon-arrow-1-circle-right:before {
  content: "\e802";
}
.icon-arrow-1-circle-up:before {
  content: "\e803";
}
.icon-arrow-1-down:before {
  content: "\e804";
}
.icon-arrow-1-left:before {
  content: "\e805";
}
.icon-arrow-1-right:before {
  content: "\e806";
}
.icon-arrow-1-up:before {
  content: "\e80b";
}
.icon-answer:before {
  content: "\e83e";
}
.icon-call-end:before {
  content: "\e841";
}
.icon-call-out:before {
  content: "\e846";
}
.icon-chat-1:before {
  content: "\e848";
}
.icon-chat-2:before {
  content: "\e849";
}
.icon-chat-3:before {
  content: "\e84a";
}
.icon-comment-1:before {
  content: "\e84b";
}
.icon-comment-2-hashtag:before {
  content: "\e84c";
}
.icon-comment-2-quote:before {
  content: "\e84d";
}
.icon-comment-2-smile:before {
  content: "\e84e";
}
.icon-comment-2:before {
  content: "\e84f";
}
.icon-comments-1:before {
  content: "\e850";
}
.icon-comments-2:before {
  content: "\e851";
}
.icon-comments-3:before {
  content: "\e852";
}
.icon-comments-4:before {
  content: "\e853";
}
.icon-email-check:before {
  content: "\e85a";
}
.icon-email-close:before {
  content: "\e85b";
}
.icon-email-delete:before {
  content: "\e85c";
}
.icon-email-edit:before {
  content: "\e85d";
}
.icon-email-send:before {
  content: "\e868";
}
.icon-email:before {
  content: "\e86a";
}
.icon-letter:before {
  content: "\e86e";
}
.icon-letters:before {
  content: "\e86f";
}
.icon-message-1-alert:before {
  content: "\e872";
}
.icon-message-1-ask:before {
  content: "\e873";
}
.icon-message-1-like:before {
  content: "\e876";
}
.icon-message-1-quote:before {
  content: "\e879";
}
.icon-message-1-smile:before {
  content: "\e87a";
}
.icon-message-1-write:before {
  content: "\e87b";
}
.icon-message-1:before {
  content: "\e87c";
}
.icon-message-2-alert:before {
  content: "\e87d";
}
.icon-message-2-ask:before {
  content: "\e87e";
}
.icon-message-2-heart:before {
  content: "\e87f";
}
.icon-message-2-write-2:before {
  content: "\e883";
}
.icon-message-2-write:before {
  content: "\e884";
}
.icon-message-2:before {
  content: "\e885";
}
.icon-message-3-write:before {
  content: "\e890";
}
.icon-message-3:before {
  content: "\e891";
}
.icon-phone-call-in:before {
  content: "\e894";
}
.icon-phone-call-out:before {
  content: "\e895";
}
.icon-phone-message-1:before {
  content: "\e897";
}
.icon-phone-message-2:before {
  content: "\e898";
}
.icon-phone-message-3:before {
  content: "\e899";
}
.icon-phone-ring:before {
  content: "\e89a";
}
.icon-shopping-tag:before {
  content: "\e922";
}
.icon-shopping-tags:before {
  content: "\e923";
}
.icon-abacus:before {
  content: "\e92f";
}
.icon-bulb-idea:before {
  content: "\e93b";
}
.icon-bulb:before {
  content: "\e93d";
}
.icon-bar-chart-stats-down:before {
  content: "\e965";
}
.icon-bar-chart-stats-up:before {
  content: "\e966";
}
.icon-bar-chart-up:before {
  content: "\e967";
}
.icon-bar-chart:before {
  content: "\e968";
}
.icon-calculator:before {
  content: "\e96e";
}
.icon-coins-2:before {
  content: "\e973";
}
.icon-coins-3:before {
  content: "\e974";
}
.icon-coins-4:before {
  content: "\e975";
}
.icon-donut-chart-1:before {
  content: "\e979";
}
.icon-donut-chart-2:before {
  content: "\e97a";
}
.icon-GBP-circle:before {
  content: "\e97d";
}
.icon-GBP:before {
  content: "\e97e";
}
.icon-graph-2:before {
  content: "\e981";
}
.icon-graph-down:before {
  content: "\e985";
}
.icon-graph-up:before {
  content: "\e987";
}
.icon-graph:before {
  content: "\e988";
}
.icon-hand-coins:before {
  content: "\e98e";
}
.icon-money-bag-coins:before {
  content: "\e992";
}
.icon-pie-chart-1:before {
  content: "\e996";
}
.icon-pie-chart-2:before {
  content: "\e997";
}
.icon-pie-chart-3:before {
  content: "\e998";
}
.icon-piggy-bank:before {
  content: "\e99a";
}
.icon-search-stats-1:before {
  content: "\e99e";
}
.icon-support:before {
  content: "\e9a3";
}
.icon-target-1:before {
  content: "\e9a4";
}
.icon-target-2:before {
  content: "\e9a5";
}
.icon-target-3:before {
  content: "\e9a6";
}
.icon-target-4:before {
  content: "\e9a7";
}
.icon-tasks-1:before {
  content: "\e9a9";
}
.icon-tasks-2:before {
  content: "\e9aa";
}
.icon-tasks-checked:before {
  content: "\e9ac";
}
.icon-write-check:before {
  content: "\e9b3";
}
.icon-pencil1:before {
  content: "\e9de";
}
.icon-pencil2:before {
  content: "\e9df";
}
.icon-agenda-1:before {
  content: "\e9f7";
}
.icon-article-2:before {
  content: "\e9f9";
}
.icon-article-3:before {
  content: "\e9fa";
}
.icon-article:before {
  content: "\e9fb";
}
.icon-book-3:before {
  content: "\e9ff";
}
.icon-book-4:before {
  content: "\ea00";
}
.icon-book-6:before {
  content: "\ea02";
}
.icon-bookmark-1:before {
  content: "\ea04";
}
.icon-bookmark-3:before {
  content: "\ea06";
}
.icon-clipboard-checked:before {
  content: "\ea0f";
}
.icon-content-1:before {
  content: "\ea12";
}
.icon-content-2:before {
  content: "\ea13";
}
.icon-apple-1:before {
  content: "\ea44";
}
.icon-apple-2:before {
  content: "\ea45";
}
.icon-cake:before {
  content: "\ea54";
}
.icon-cooking-timer-1:before {
  content: "\ea67";
}
.icon-cooking-timer-2:before {
  content: "\ea68";
}
.icon-cooking-timer-3:before {
  content: "\ea69";
}
.icon-cooking-timer-4:before {
  content: "\ea6a";
}
.icon-cooking-timer-5:before {
  content: "\ea6b";
}
.icon-cooking-timer-6:before {
  content: "\ea6c";
}
.icon-cooking-timer-7:before {
  content: "\ea6d";
}
.icon-cooking-timer-8:before {
  content: "\ea6e";
}
.icon-database-backup:before {
  content: "\eac8";
}
.icon-database-check:before {
  content: "\eac9";
}
.icon-database-edit:before {
  content: "\eaca";
}
.icon-database-error:before {
  content: "\eacb";
}
.icon-database-firewall:before {
  content: "\eacc";
}
.icon-database-locked:before {
  content: "\eacd";
}
.icon-database:before {
  content: "\ead2";
}
.icon-door-lock:before {
  content: "\eb17";
}
.icon-hamburger-menu-1:before {
  content: "\eb32";
}
.icon-hamburger-menu-2:before {
  content: "\eb33";
}
.icon-info:before {
  content: "\eb38";
}
.icon-lock:before {
  content: "\eb45";
}
.icon-magnifier-1:before {
  content: "\eb4a";
}
.icon-magnifier-2:before {
  content: "\eb4b";
}
.icon-more-circles-vertical:before {
  content: "\eb53";
}
.icon-more-squares-vertical-filled:before {
  content: "\eb54";
}
.icon-paper-clip:before {
  content: "\eb5c";
}
.icon-question:before {
  content: "\eb6a";
}
.icon-settings-2:before {
  content: "\eb75";
}
.icon-share-3:before {
  content: "\eb78";
}
.icon-tabs-2:before {
  content: "\eb85";
}
.icon-unlocked:before {
  content: "\eb8b";
}
.icon-warning-circle:before {
  content: "\eb8e";
}
.icon-warning-triangle:before {
  content: "\eb90";
}
.icon-file-edit:before {
  content: "\eb9f";
}
.icon-file-error:before {
  content: "\eba0";
}
.icon-file-table:before {
  content: "\ebb0";
}
.icon-files-2:before {
  content: "\ebb7";
}
.icon-files:before {
  content: "\ebb8";
}
.icon-pause-circle:before {
  content: "\ec0f";
}
.icon-play-circle:before {
  content: "\ec15";
}
.icon-play:before {
  content: "\ec16";
}
.icon-volume-2:before {
  content: "\ec34";
}
.icon-volume-off:before {
  content: "\ec35";
}
.icon-youtube:before {
  content: "\ecce";
}
.icon-alarm-add:before {
  content: "\ecd0";
}
.icon-alarm-off:before {
  content: "\ecd1";
}
.icon-alarm-on:before {
  content: "\ecd2";
}
.icon-alram:before {
  content: "\ecd3";
}
.icon-calendar-2:before {
  content: "\ecd4";
}
.icon-calendar-check:before {
  content: "\ecd5";
}
.icon-calendar-date-2:before {
  content: "\ecd6";
}
.icon-calendar-date:before {
  content: "\ecd7";
}
.icon-calendar-time:before {
  content: "\ecd8";
}
.icon-calendar:before {
  content: "\ecd9";
}
.icon-clock-2:before {
  content: "\ecda";
}
.icon-clock:before {
  content: "\ecdb";
}
.icon-compass-1:before {
  content: "\ecdc";
}
.icon-compass-2:before {
  content: "\ecdd";
}
.icon-direction-1:before {
  content: "\ecde";
}
.icon-direction-2:before {
  content: "\ecdf";
}
.icon-direction:before {
  content: "\ece0";
}
.icon-fast-delivery:before {
  content: "\ece3";
}
.icon-gps-location:before {
  content: "\ece4";
}
.icon-history:before {
  content: "\ece5";
}
.icon-hourglass-1:before {
  content: "\ece6";
}
.icon-location-1-on:before {
  content: "\ecec";
}
.icon-location-1-search:before {
  content: "\eced";
}
.icon-navigation-2:before {
  content: "\ecfe";
}
.icon-phone-location:before {
  content: "\ecff";
}
.icon-wrist-watch:before {
  content: "\ed05";
}
.icon-fitness-app:before {
  content: "\ed50";
}
.icon-healthcare:before {
  content: "\ed52";
}
.icon-people-female:before {
  content: "\edc9";
}
.icon-people-male:before {
  content: "\edcb";
}
.icon-people:before {
  content: "\edd2";
}
.icon-rolodex-2:before {
  content: "\edd4";
}
.icon-rolodex:before {
  content: "\edd5";
}
.icon-team-1:before {
  content: "\edd6";
}
.icon-user-female-edit:before {
  content: "\ede2";
}
.icon-user-female-options:before {
  content: "\ede3";
}
.icon-user-female:before {
  content: "\edec";
}
.icon-user-male-edit:before {
  content: "\edf1";
}
.icon-user-male-options:before {
  content: "\edf2";
}
.icon-user-male:before {
  content: "\edfb";
}
.icon-user:before {
  content: "\ee03";
}
.icon-users-male-female:before {
  content: "\ee04";
}
.icon-users-male:before {
  content: "\ee05";
}
.icon-users:before {
  content: "\ee06";
}
.icon-like-2:before {
  content: "\ee15";
}
.icon-like:before {
  content: "\ee16";
}
.icon-star-circle:before {
  content: "\ee1f";
}
.icon-star:before {
  content: "\ee21";
}
.icon-unlike-2:before {
  content: "\ee25";
}
.icon-unlike:before {
  content: "\ee26";
}
.icon-firewall-allert:before {
  content: "\ee34";
}
.icon-firewall-block:before {
  content: "\ee35";
}
.icon-firewall-disable:before {
  content: "\ee36";
}
.icon-firewall-done:before {
  content: "\ee37";
}
.icon-firewall-help:before {
  content: "\ee38";
}
.icon-firewall-star:before {
  content: "\ee3a";
}
.icon-firewall:before {
  content: "\ee3b";
}

