// main: style.less

.brand-logo {
    font-family: sans-serif;
    font-size: 14px;
    width: 100px;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 10px;
}

