// main: style.less

@grey-back: #F2F2F2;
@grey-text: #999999;

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid @grey-back;
    border-bottom-color: transparent;
}

.tab-content {
    border-left: 1px solid @grey-back;
    border-right: 1px solid @grey-back;
    border-bottom: 1px solid @grey-back;
    padding: 10px 15px;
}

.table {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: none;
}

.table > thead > tr > th {
    border-bottom: none;
    padding-bottom: 8px !important;
    color: #999;
    font-family: "SenticoSansDT Thin";
    font-size: 15px;
}

tr th, tr td {
    width: auto !important;
}

tbody tr td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 10px !important;
    background: @grey-back;
    border-left: 1px solid #fff;
}

tr:not(:first-child) {
    border-top: 5px solid #fff;
}

.dataTables_info {
    text-align: center;
}

@media screen and (max-width: 767px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}