<script src="~/js/applicationsTable.js"></script> 

<div id="applications" class="tab-pane fade in active">
    <h3>Your protection applications</h3>

    <div class="table-responsive">
        <table id="applicationsTable" class="table" summary="Table of current outstanding Protection applications.">
        <caption class="sr-only">Current outstanding protection applications</caption>
            <thead>
                <tr>
                    <th id="appref">Reference</th>
                    <th id="client">Client(s)</th>
                    <th id="cover">Cover</th>
                    <th id="status">Status</th>
                    <th id="lastchange">Last change</th>
                    <th id="notes">Notes</th>
                    <th id="actions">Actions<th>
                </tr>
            </thead>
        </table>
    </div>
</div>