<script src="~/js/policiesTable.js"></script> 

<div id="policies" class="tab-pane fade in">
    <h3>Your protection policies</h3>

    <div class="table-responsive">
        <table id="policiesTable" class="table" summary="Table of current outstanding Protection policies.">
        <caption class="sr-only">Current outstanding protection policies</caption>
            <thead>
                <tr>
                    <th id="appref">Reference</th>
                    <th id="client">Client(s)</th>
                    <th id="cover">Cover</th>
                    <th id="status">Status</th>
                    <th id="lastchange">Last change</th>
                    <th id="notes">Notes</th>
                    <th id="actions">Actions<th>
                </tr>
            </thead>
        </table>
    </div>
</div>