<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet'; l.type = 'text/css';
        l.href = 'css/core.css';
        //TODO - fix location it is injected into
        var h = document.getElementsByTagName('head')[0]; h.parentNode.appendChild(l, h);
    };

    var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;

    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>

<script src="~/lib/bootstrap/js/tab.js"></script>

<script src="~/js/site.js" asp-append-version="false"></script>
<script src="~/js/jquery.dataTables.min.js"></script>