
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"  asp-append-version="false"/>

<link rel="stylesheet" href="~/lib/theme/css/core.css"  asp-append-version="false"/>
<link rel="stylesheet" href="~/lib/theme/css/style.css"  asp-append-version="false"/>
<link rel="stylesheet" href="~/fonts/webfont.css"  asp-append-version="false"/>
<link rel="stylesheet" href="~/fonts/24-Simple-Line-Icons-Pro/style.css"  asp-append-version="false"/>
<link rel="stylesheet" href="~/fonts/60-Simple-Line-Icons-Pro/style.css"  asp-append-version="false"/>