@font-face {
  font-family: '60-Simple-Line-Icons-Pro';
  src:  url('fonts/60-Simple-Line-Icons-Pro.eot');
  src:  url('fonts/60-Simple-Line-Icons-Pro.eot#iefix') format('embedded-opentype'),
    url('fonts/60-Simple-Line-Icons-Pro.ttf') format('truetype'),
    url('fonts/60-Simple-Line-Icons-Pro.woff') format('woff'),
    url('fonts/60-Simple-Line-Icons-Pro.svg#60-Simple-Line-Icons-Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: '60-Simple-Line-Icons-Pro' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1-circle-down:before {
  content: "\e800";
}
.icon-arrow-1-circle-left:before {
  content: "\e801";
}
.icon-arrow-1-circle-right:before {
  content: "\e802";
}
.icon-arrow-1-circle-up:before {
  content: "\e803";
}
.icon-arrow-1-down:before {
  content: "\e804";
}
.icon-arrow-1-left:before {
  content: "\e805";
}
.icon-arrow-1-right:before {
  content: "\e806";
}
.icon-arrow-1-up:before {
  content: "\e80b";
}
.icon-answer:before {
  content: "\e83e";
}
.icon-call-end:before {
  content: "\e841";
}
.icon-call-out:before {
  content: "\e846";
}
.icon-chat-1:before {
  content: "\e848";
}
.icon-chat-2:before {
  content: "\e849";
}
.icon-chat-3:before {
  content: "\e84a";
}
.icon-comment-1:before {
  content: "\e84d";
}
.icon-comment-2-hashtag:before {
  content: "\e84e";
}
.icon-comment-2-smile:before {
  content: "\e850";
}
.icon-comment-2:before {
  content: "\e852";
}
.icon-comment-3:before {
  content: "\e853";
}
.icon-comments-1:before {
  content: "\e854";
}
.icon-comments-2:before {
  content: "\e855";
}
.icon-comments-3:before {
  content: "\e856";
}
.icon-email:before {
  content: "\e86c";
}
.icon-letter:before {
  content: "\e870";
}
.icon-letters:before {
  content: "\e871";
}
.icon-message-1-alert:before {
  content: "\e874";
}
.icon-message-1-ask:before {
  content: "\e875";
}
.icon-message-1-hashtag:before {
  content: "\e876";
}
.icon-message-1-write:before {
  content: "\e87b";
}
.icon-message-1:before {
  content: "\e87c";
}
.icon-message-2-alert:before {
  content: "\e87d";
}
.icon-message-2-ask:before {
  content: "\e87e";
}
.icon-message-2-like:before {
  content: "\e880";
}
.icon-message-2:before {
  content: "\e884";
}
.icon-message-3-hashtag:before {
  content: "\e887";
}
.icon-message-3-write1:before {
  content: "\e88f";
}
.icon-message-3:before {
  content: "\e890";
}
.icon-phone-call-out:before {
  content: "\e894";
}
.icon-phone-message-1:before {
  content: "\e896";
}
.icon-phone-message-2:before {
  content: "\e897";
}
.icon-phone-message-3:before {
  content: "\e898";
}
.icon-phone-ring:before {
  content: "\e899";
}
.icon-Shape880:before {
  content: "\e89b";
}
.icon-abacus:before {
  content: "\e930";
}
.icon-bulb-add:before {
  content: "\e939";
}
.icon-bulb-checked:before {
  content: "\e93a";
}
.icon-bulb-remove:before {
  content: "\e93d";
}
.icon-bulb:before {
  content: "\e93e";
}
.icon-pencil1:before {
  content: "\e981";
}
.icon-pencil2:before {
  content: "\e982";
}
.icon-article-2:before {
  content: "\e99c";
}
.icon-article:before {
  content: "\e99e";
}
.icon-pencil-1:before {
  content: "\e9d1";
}
.icon-check-circle-2:before {
  content: "\e9f6";
}
.icon-check-circle:before {
  content: "\e9f7";
}
.icon-check-square-2:before {
  content: "\e9f8";
}
.icon-check-square:before {
  content: "\e9f9";
}
.icon-check:before {
  content: "\e9fa";
}
.icon-close:before {
  content: "\e9fb";
}
.icon-config-1:before {
  content: "\e9fc";
}
.icon-config-2:before {
  content: "\e9fd";
}
.icon-door-lock:before {
  content: "\ea06";
}
.icon-edit-1:before {
  content: "\ea0c";
}
.icon-fingerprint:before {
  content: "\ea17";
}
.icon-hamburger-menu-2:before {
  content: "\ea22";
}
.icon-inside:before {
  content: "\ea28";
}
.icon-key-2:before {
  content: "\ea2a";
}
.icon-list-3:before {
  content: "\ea31";
}
.icon-list-4:before {
  content: "\ea32";
}
.icon-list2:before {
  content: "\ea33";
}
.icon-lock:before {
  content: "\ea34";
}
.icon-paper-clip:before {
  content: "\ea4a";
}
.icon-paper-plane:before {
  content: "\ea4b";
}
.icon-question:before {
  content: "\ea58";
}
.icon-settings-2:before {
  content: "\ea63";
}
.icon-share-3:before {
  content: "\ea66";
}
.icon-unlocked:before {
  content: "\ea79";
}
.icon-warning-circle:before {
  content: "\ea7c";
}
.icon-file-doc:before {
  content: "\ea93";
}
.icon-file-error:before {
  content: "\ea97";
}
.icon-file-pdf:before {
  content: "\eaaa";
}
.icon-file-table:before {
  content: "\eab6";
}
.icon-apple-1:before {
  content: "\eae2";
}
.icon-apple-2:before {
  content: "\eae3";
}
.icon-cooking-timer-1:before {
  content: "\eb05";
}
.icon-cooking-timer-2:before {
  content: "\eb06";
}
.icon-cooking-timer-3:before {
  content: "\eb07";
}
.icon-cooking-timer-4:before {
  content: "\eb08";
}
.icon-cooking-timer-5:before {
  content: "\eb09";
}
.icon-cooking-timer-6:before {
  content: "\eb0a";
}
.icon-cooking-timer-7:before {
  content: "\eb0b";
}
.icon-cooking-timer-8:before {
  content: "\eb0c";
}
.icon-7-support-2:before {
  content: "\eb4e";
}
.icon-h-calls:before {
  content: "\eb4f";
}
.icon-banknote-coins:before {
  content: "\eb56";
}
.icon-bill-1:before {
  content: "\eb60";
}
.icon-calculator:before {
  content: "\eb65";
}
.icon-coins-2:before {
  content: "\eb6a";
}
.icon-coins-3:before {
  content: "\eb6b";
}
.icon-coins-4:before {
  content: "\eb6c";
}
.icon-donut-chart-1:before {
  content: "\eb70";
}
.icon-donut-chart-2:before {
  content: "\eb71";
}
.icon-graph-1:before {
  content: "\eb78";
}
.icon-graph-2:before {
  content: "\eb79";
}
.icon-graph-chart-board-down:before {
  content: "\eb7a";
}
.icon-graph-up:before {
  content: "\eb7f";
}
.icon-hand-bill-2:before {
  content: "\eb83";
}
.icon-hand-coins:before {
  content: "\eb85";
}
.icon-money-bag-coins:before {
  content: "\eb89";
}
.icon-pie-chart-1:before {
  content: "\eb8d";
}
.icon-pie-chart-2:before {
  content: "\eb8e";
}
.icon-pie-chart-3:before {
  content: "\eb8f";
}
.icon-piggy-bank:before {
  content: "\eb91";
}
.icon-support:before {
  content: "\eb9a";
}
.icon-target-1:before {
  content: "\eb9b";
}
.icon-target-2:before {
  content: "\eb9c";
}
.icon-target-3:before {
  content: "\eb9d";
}
.icon-target-4:before {
  content: "\eb9e";
}
.icon-tasks-2:before {
  content: "\eba1";
}
.icon-tasks-checked:before {
  content: "\eba3";
}
.icon-database-check:before {
  content: "\ebc5";
}
.icon-database-edit:before {
  content: "\ebc6";
}
.icon-database-firewall:before {
  content: "\ebc8";
}
.icon-database-locked:before {
  content: "\ebc9";
}
.icon-database:before {
  content: "\ebcf";
}
.icon-play-circle:before {
  content: "\ec34";
}
.icon-play:before {
  content: "\ec35";
}
.icon-alarm-add:before {
  content: "\ecef";
}
.icon-alarm-off:before {
  content: "\ecf0";
}
.icon-alarm-on:before {
  content: "\ecf1";
}
.icon-alarm:before {
  content: "\ecf2";
}
.icon-calendar-2:before {
  content: "\ecf3";
}
.icon-calendar-date-2:before {
  content: "\ecf5";
}
.icon-calendar-date:before {
  content: "\ecf6";
}
.icon-calendar:before {
  content: "\ecf7";
}
.icon-calendat-time:before {
  content: "\ecf8";
}
.icon-clock-2:before {
  content: "\ecf9";
}
.icon-clock:before {
  content: "\ecfa";
}
.icon-compass-1:before {
  content: "\ecfb";
}
.icon-compass-2:before {
  content: "\ecfc";
}
.icon-direction:before {
  content: "\ecfd";
}
.icon-directions-1:before {
  content: "\ecfe";
}
.icon-directions-2:before {
  content: "\ecff";
}
.icon-gps-location:before {
  content: "\ed03";
}
.icon-history:before {
  content: "\ed04";
}
.icon-location-1-on:before {
  content: "\ed0b";
}
.icon-location-1-search:before {
  content: "\ed0c";
}
.icon-timer-1:before {
  content: "\ed21";
}
.icon-timer-2:before {
  content: "\ed22";
}
.icon-people-female:before {
  content: "\ede8";
}
.icon-people-male:before {
  content: "\edea";
}
.icon-people-speech-1:before {
  content: "\eded";
}
.icon-people-speech-2:before {
  content: "\edee";
}
.icon-people:before {
  content: "\edf1";
}
.icon-rolodex-2:before {
  content: "\edf3";
}
.icon-rolodex:before {
  content: "\edf4";
}
.icon-user-check:before {
  content: "\edfa";
}
.icon-user-female-check:before {
  content: "\edfe";
}
.icon-user-female-edit:before {
  content: "\ee01";
}
.icon-user-male-edit:before {
  content: "\ee10";
}
.icon-like-2:before {
  content: "\ee34";
}
.icon-like:before {
  content: "\ee35";
}
.icon-unlike-2:before {
  content: "\ee44";
}
.icon-unlike:before {
  content: "\ee45";
}
.icon-firewall-alert:before {
  content: "\ee53";
}
.icon-firewall-block:before {
  content: "\ee54";
}
.icon-firewall-disable:before {
  content: "\ee55";
}
.icon-firewall-done:before {
  content: "\ee56";
}
.icon-firewall-help:before {
  content: "\ee57";
}
.icon-firewall-refresh:before {
  content: "\ee58";
}
.icon-firewall-star:before {
  content: "\ee59";
}
.icon-firewall:before {
  content: "\ee5a";
}

